{% extends 'base/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/usuarios/login.css' %}">
{% endblock head %}
{% block content %}
<div class="login-container">
    <h2>Nova Conta</h2>
    <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="input-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Cadastrar</button>
    </form>
</div>
{% endblock content %}