{% extends 'base/base.html' %}
{% load static %}
{% load socialaccount %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/usuarios/login.css' %}">
{% endblock head %}
{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="input-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Entrar</button>
    </form>
    <!-- <div class="forgot-password">
        <a href="#">Esqueceu sua senha?</a>
    </div> -->
    <div class="criar-conta">
        <a href="{% url 'cadastro' %}">criar nova conta</a>
    </div>
    <hr>
    <div class="social-login">
        <a href="{% provider_login_url 'google' %}" class="social-login-button google">
            <img src="{% static 'assets/images/google.ico' %}" alt="Google">
            Entrar com Google
        </a>
    </div>
</div>
{% endblock content %}