{% extends 'base/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/estudio/home.css' %}">
{% endblock head %}
{% block content %}
    <style>.capa {background-image: url("{% static 'assets/images/estudio/capa.jpeg' %}");}</style>
    <div class="parent">
        <div class="capa">
            <div class="capa-content">
                <h1>Satori 🎇 Yoga</h1>
                <p>Bem-vinda ao Estúdio Satori, onde cada aula é um convite à harmonia e ao autocuidado. Descubra a serenidade do yoga e cultive seu bem-estar físico e mental em um ambiente acolhedor e inspirador.</p>
            </div>
        </div>
    </div>
    <section class="sobre-content">
        <h1>Missão e Valores</h1>
        <div class="descricao-content">
            <img src="{% static 'assets/images/estudio/descricao.jpeg' %}" alt="Professora Emilie Fujimoto">
            <div>
                <p>Oie! Eu sou a Emi, minha jornada no yoga iniciou há 8 anos quando precisei aprender a lidar com a ansiedade. Desde esse período, flui entre diversos estilos de prática e me identifiquei mais com o Vinyasa Yoga. Fiz minha formação nesse método em 2022 pela escola Yoga Sampoorna, com os professores Rosana e Raphael Melo.  
                <br><br>Os ensinamentos que o Yoga traz pra minha vida segue me transformando e me ajudando no processo de autoconhecimento, e meu propósito é compartilhar esses ensinamentos com quem recebeu o chamado no coração e deseja iniciar a jornada mais incrível: se (re)conhecer.</p>
                <div class="cards-content">
                    <div class="card-descricao">
                        <h2>Afinal, o que é Vinyasa Yoga?</h2>
                        <p>É um método de Yoga mais dinâmico, onde fluímos de uma postura a outra e o tempo de permanência geralmente acompanha a respiração. 
                        <br>Talvez seja uma boa opção para quem considera o Yoga "muito parado".  
                        <br>Independente do método praticado o objetivo não é a performance, e o Yoga é adaptável a todos.</p>
                    </div>
                    <div class="card-descricao">
                        <h2>Como funcionam as minhas aulas?</h2>
                        <p>Durante a aula, além das posturas (Asanas) também aprendemos técnicas respiratórias (Pranayamas), técnicas de meditação, alinhados com a filosofia milenar do Yoga e de acordo com a proposta de cada aula.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}