{% extends 'base/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/galeria/artigo/body.css' %}">
{% endblock head %}
{% block content %}
    <div class="titulo-artigo espaco-header">
        <h1>{{ artigo.titulo }}</h1>
        <a href="{% url 'index' %}" class="back-link">← Voltar à Home</a>
    </div>
    <main>
        <article>
            {% if not artigo.imagem and not artigo.imagem_path %}
                            <img src="{% static 'assets/images/image_not_found.jpg' %}" alt="{{ artigo.title }}">
                        {% else %}
                            <img src="{{ artigo.imagem|default:artigo.imagem_path }}" alt="{{ artigo.title }}">
                        {% endif %}
            <p class="legenda">{{ artigo.legenda }}</p>
            <div class="content">
                {{ artigo.artigo|linebreaks }}
            </div>
        </article>
    </main>
{% endblock content %}