{% load static %}
<footer class="footer">
    <div class="footer-content">
        <div class="footer-satori-desc">
            <h3 class="title">
            Satori Yoga
            </h3>
            <p class="descricao">
            Um espaço dedicado ao seu bem-estar físico, mental e espiritual. 
            Pratique yoga em um ambiente acolhedor e transformador.
            </p>
        </div>
        <div class="footer-contato">
            <h3 class="title">
                Contato
            </h3>
            <div class="contato-content">
                <span class="endereço">
                    Av dos Professores, 90<br />
                    Villa Flores, Sumaré - SP
                </span>
                <span class="telefone">
                    (11) 99999-9999
                </span>
                <span class="e-mail">
                    emiliebfujimoto@gmail.com
                </span>
            </div>
        </div>

        <div class="footer-redes">
            <h3 class="title">
                Redes Sociais
            </h3>
            <p class="descricao">
                Acompanhe nossa jornada e encontre inspiração diária
            </p>
            <div class="redes-icons-content">
                <a href="https://www.instagram.com/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.whatsapp.com/">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <p class="text-muted-foreground">
        © 2025 Satori Yoga. Todos os direitos reservados. 
        <span class="block sm:inline sm:ml-2">
            Feito com ❤️ para o seu bem-estar.
        </span>
        </p>
    </div>
</footer>